body {
    margin: 0;
    padding: 0;
    font-family: 'Coda Caption', sans-serif;
    /* background:  ; */
    background-repeat: no-repeat;
    background-size: cover;
}

.main-section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: column;
}

.title {
    display: flex;
    justify-content: center;
}

.img-card,
a {
    width: 180px;
    padding: 20px;
    margin: 0 auto;
}

.botonhere {
    border: 1px solid red;
    width: 25px;
}

img {
    margin: 0 auto;
    padding-bottom: 15px;
    height: 120px;
}

.card-content {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 5;
}

.hiden {
    display: none;
}

.uknowCard {
    cursor: pointer;
    content: url(https://th.bing.com/th/id/R874ef0d7a53f4ecb3bf9af116e4b31f0?rik=mmAQjIxg8QBFVA&pid=ImgRaw);
}


/* .start-game {
    cursor: pointer;
} */